[submodule "ext/cereal"]
	path = ext/cereal
	url = https://github.com/USCiLab/cereal
[submodule "ext/seqan"]
	path = ext/seqan
	url = https://github.com/sbonisso/seqan
[submodule "ext/tclap"]
	path = ext/tclap
	url = https://github.com/sbonisso/tclap
[submodule "ext/cpptest"]
	path = ext/cpptest
	url = git://cpptest.git.sourceforge.net/gitroot/cpptest/cpptest
