	<h2>Compilation</h2>
<p>Clone the repository, all dependencies are contained as subtrees, so nothing special needs to be done. Alternatively, you can also download the tar/zip and build from those.</p>
	
	<div class="highlight">
	   <pre><code>$ git clone https://github.com/sbonisso/ig_graph.git</code></pre>
	</div>
	
	<p>Compile by running make in the top-level directory.</p>
	<div class="highlight">
	   <pre><code>$ cd ig_graph
$ make</code></pre>
	</div>

	<p>To create tests, additionally run make test.</p>
	<div class="highlight">
	  <pre><code>$ make test
$ ./unit_test</code></pre>
	</div>
