<h2>Dependencies</h2>
<p>IgGraph has been tested on many different versions of Ubuntu, and should work on most unix-based OS. If building from source, the dependencies listed are contained as submodules in the git repository. Instructions for compilation are located below.</p>
<ul>
  <li>gcc with C++11 support (<a href="https://gcc.gnu.org/projects/cxx0x.html">GCC 4.7 and later</a>)</li>
  <li><a href="http://packages.seqan.de/">SeqAn 2.0+</a></li>
  <li><a href="http://tclap.sourceforge.net/">TCLAP</a></li>
  <li><a href="https://github.com/USCiLab/cereal">cereal</a></li>
  <li><a href="http://cpptest.sourceforge.net/">cpptest</a></li>
</ul>
